[Unit]
Description=Weather
After=agodatalogger.service agoresolver.service
Wants=agodatalogger.service agoresolver.service

[Service]
ExecStart=/opt/agocontrol/bin/agoweather.py
WorkingDirectory=/opt/agocontrol/bin
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=2
User=agocontrol

[Install]
WantedBy=multi-user.target
