[Unit]
Description=ago control for Samsung TVs (C-Serie, D-Serie, ...)
After=agodatalogger.service agoresolver.service
Wants=agodatalogger.service agoresolver.service

[Service]
ExecStart=/opt/agocontrol/bin/agotvsamsung.py
WorkingDirectory=/opt/agocontrol/bin
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=2
User=agocontrol

[Install]
WantedBy=multi-user.target
