[Unit]
Description=Bluetooth scanner
After=agodatalogger.service agoresolver.service
Wants=agodatalogger.service agoresolver.service

[Service]
ExecStart=/opt/agocontrol/bin/agobluescan.py
WorkingDirectory=/opt/agocontrol/bin
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=2
User=agocontrol

[Install]
WantedBy=multi-user.target
