Package: agocontrol-tvsamsung
Source: agocontrol-bibi21000
Version: 1.0-001
Architecture: all
Maintainer: Sébastien GALLET <sgallet@gmail.com>
Installed-Size: 79
Depends: python-agoclient
Section: misc
Priority: optional
Description: Samsung TVs (C-Serie, D-Serie, ...)
